# Archivos temporales de sistema
.DS_Store
Thumbs.db

# Archivos temporales de MATLAB
*.asv
*.mex*
*.mat
*.fig~

# Salidas de Python o Jupyter (si usas)
__pycache__/
*.pyc
*.ipynb_checkpoints/

# Archivos grandes o pesados
*.tif

# Backups
*.bak
*.tmp
*.log
